* {
    /* background-color: deepskyblue; */
    font-family: Helvetica;
}

body {
    margin: 0px auto;
    text-align: center;
    /* color: white; */
    font-size: 2em;
    width: 70%;
}

button {
    color: black;
    font-size: 1.25em;
    background: lightgray;
    border-radius: 5%;
}

button:hover {
    filter: brightness(150%);
}

img {
    margin: 0 auto;
    width: 200px;
    display: none;
}

.ingredients {
    margin-bottom: 50px;
}

#orderUp, #reset {
    display: none;
}



span {
    font-weight: bold;
}

#begin {
    margin: 50px 0 50px 0;
    background: limegreen;
    color: white;
}