* {
    /* background-color: deepskyblue; */
    font-family: Helvetica;
}

html {
    background-color: lightskyblue;
}

body {
    margin: 10px auto;
    text-align: center;
    /* color: white; */
    font-size: 1.75em;
    width: 70%;
    height: 100%;
    background-color: white;
    border: solid 5px dodgerblue;
    padding: 0 15px 150px 15px;
    text-shadow: grey 1px 1px;
}

button {
    color: black;
    font-size: 1.25em;
    background: lightgray;
    border-radius: 10px;
}

button:hover {
    filter: brightness(150%);
}

img {
    margin: 0 auto;
    width: 200px;
    display: none;
}

.ingredients {
    margin-bottom: 50px;
}

.ingredients>button {
    margin: 0 10px 0 10px
}

#orderUp, #reset {
    display: none;
    margin: 50px auto;
    background: limegreen;
    color: white;
}

#ticket {
    border: solid lightgray 10px;
    background-color: blanchedalmond;
    border-radius: 10px;
    width: 60%;
    margin: 0 auto;
}

span {
    font-weight: bold;
}

#begin {
    margin: 50px 0 50px 0;
    background: limegreen;
    color: white;
}